html,body {
    height: 100%;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#maindiv {
    height: 100%;
}

textarea {
    background-color: #111;
    color: white;
    resize: none;
}

.leftColumn {
    width: 220px;
    min-width: 220px;
    border-right: 1px solid rgba(255,255,255,0.1);
    overflow: hidden auto;

    > img {
        width: 220px;
        padding: 0 25px;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    > div {
        font-size: 20px;
        line-height: 20px;
        padding: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        cursor: pointer;
        vertical-align: middle;
        > svg {
            vertical-align: middle;
            height: 20px;
            width: 30px;
            padding-right: 10px;
        }
        > span {
            vertical-align: middle;
        }
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
        &.active {
            background-color: rgba(128,128,255,0.3);
        }
    }
}

.rightColumn {
    flex-grow: 1;
    overflow: hidden auto;
}

.settings {
    padding: 20px;
    h1 {
        padding: 20px 0;
        margin: 0;
    }
    label {
        display: block;
        margin: 0;
    }
    .error {
        padding: 5px;
        border-radius: 5px;
        background-color: #900;
    }
    .listItem {
        position: relative;
        background-color: rgba(255,255,255,0.05);
        border-radius: 5px;
        overflow: hidden;
        margin: 2px;
        padding: 5px;

        .remove {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            border-bottom-left-radius: 5px;
            padding: 0px 6px;
            background-color: #600;
        }
    }
}