@import '~bootstrap/scss/bootstrap';

html,body {
    height: 100%;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

#maindiv {
    height: 100%;
}

textarea {
    background-color: #111;
    color: white;
    resize: none;
}

.leftColumn {
    width: 220px;
    min-width: 220px;
    border-right: 1px solid rgba(255,255,255,0.1);
    overflow: hidden auto;

    > img {
        width: 220px;
        padding: 0 25px;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    > div {
        font-size: 20px;
        line-height: 20px;
        padding: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        cursor: pointer;
        vertical-align: middle;
        > svg {
            vertical-align: middle;
            height: 20px;
            width: 30px;
            padding-right: 10px;
        }
        > span {
            vertical-align: middle;
        }
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
        &.active {
            background-color: rgba(128,128,255,0.3);
        }
    }
}

.rightColumn {
    flex-grow: 1;
    overflow: hidden auto;
}

.settings {
    padding: 20px;
    .error {
        padding: 5px;
        border-radius: 5px;
        background-color: #900;
    }
    .list-group {
        >button:not(:first-child), >.dropdown:not(:first-child)>button {
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        >button:not(:last-child), >.dropdown:not(:last-child)>button {
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .list-group-item {
        margin-bottom: 0; // Fixes borders missing for some reason
        >.corner {
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-left-radius: 5px;
            overflow: hidden;
            .remove, .up, .down {
                cursor: pointer;
                padding: 0px 6px;
                background-color: #600;
                float: left;
                vertical-align: middle;
            }
        }
    }
    .badge {
        display: inline-flex;
        >.remove {
            padding: 6px;
            line-height: 0.9;
            background-color: rgba(0,0,0,0.2);
            border: 0;
            margin-left: 5px;
            margin-right: -8px;
            margin-top: -5px;
            margin-bottom: -4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            align-self: stretch;
        }
    }
    .conditions {
        >.badge, >.dropdown>button {
            height: 30px;
            vertical-align: middle;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        >.dropdown {
            display: inline;
            >button::after {
                display: none; // remove the triangle
            }
        }
    }
}
